[workspace]
channels = ["conda-forge", "https://prefix.dev/pixi-build-backends"]
platforms = ["linux-64", "osx-64", "osx-arm64", "win-64"]
preview = ["pixi-build"]

[dependencies]
zstd_app = { path = "zstd_app" }

[tasks]
run = "zstd_app"
